pm_api_url            = "https://192.168.30.2:8006/api2/json"
pm_default            = "pve"
pm_user               = "root@pam"
pm_password           = "password"
pm_tls_insecure       = true

# SSH public key dari file id_rsa.pub (gunakan file() di main.tf)
vm_id_start_from      = 300
vm_total_duplicate    = 3
vm_template_name      = "ubuntu-2204-cloudimage"

vm_cpu_cores          = 2
vm_memory             = 2048
vm_disk_size          = "20G"
vm_storage            = "local-lvm"

vm_subnet             = "192.168.30"
vm_ip_start           = 150
vm_gateway            = "192.168.30.1"
vm_cidr               = "/23"
# vm_vlan_tag           = 30   # optional, uncomment to set VLAN tag

vm_ci_user            = "ubuntu"
vm_ci_password        = "ubuntu"
